@font-face {
    font-family: AliceRegular;
    src: url('fonts/Alice-Regular.ttf') format('truetype');
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.row {
    padding: 30px 0px;
}

p {
    font-family: AliceRegular;
    font-size: 16pt;
}

.post-link {
    font-size: 20pt;
    padding-left: 30px;
}

.left-menu-title {
    font-size: 22pt;
}